<body>
<div class="navigation_section bg-success d-flex justify-content-end">
  <img class="profile" src="../../assets/images/profile.jpg" height="40" width="40" style="margin-right:0.5em;border-radius:100em "/>
</div>
  <div class="grid">
    <div class="d"></div>
    <div class="grid-item text-center main" >
        <!-- <img src="../../assets/images/hand.jpg" height="100%" style="width:50%;margin-bottom:2em;"/> -->
        <div class="grid_child">
          <div class="grid_child_item" (click)="attendance()">
            <div class="grid_nested">
                <div class=""><img src="../../assets/images/attendadnce2.jpg" height="80" width="80" style=""/></div>
                <div class="" style="margin-top:10vh"><b>Attendance</b></div>
            </div>
          </div>
          <div class="grid_child_item" (click)="assignments()">
            <div class="grid_nested">
                <div class=""><img src="../../assets/images/hand.jpg" height="80" width="80" style=""/></div>
                <div class="" style="margin-top:10vh"><b>Assignments</b></div>
            </div>
          </div>
          <div class="grid_child_item" (click)="academics()">
            <div class="grid_nested">
                <div class=""><img src="../../assets/images/mentor.jpg" height="80" width="80" style=""/></div>
                <div class="" style="margin-top:10vh"><b>Academics</b></div>
            </div>
          </div>
          <div class="grid_child_item" (click)="chats()">
            <div class="grid_nested">
                <div class=""><img src="../../assets/images/sendicon5.png" height="80" width="80" style=""/></div>
                <div class="" style="margin-top:10vh"><b>Chats</b></div>
            </div>
          </div>
        </div>
    </div>
    <div class="d"></div>

  </div>



</body>
